{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-nested-ternary": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  }
}
