html, body, .root, .root > div {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

code {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: 13px;
  color: #880000;
  background-color: #f0f0f0;
  padding: 2px 4px;
}

.app {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.main {
  margin-top: 60px;
  padding: 36px;
  width: 100%;
  min-height: 100vh;
}

.ace_editor {
  margin-top: 10px;
}
